<div fxLayout="column" fxLayoutGap="20px" class="card-box  card">
    <form  fxFlex="100%" [formGroup]="OurVauesForm">
      <div fxLayout="row wrap " fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="10px">


        <div fxFlex="100%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
          <h3>
            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-user" aria-hidden="true"  style="color: blue"></i> &nbsp;&nbsp;OUR Values</span>
          </h3>

        </div>
        <div fxFlex="100%" class="bg-grey">
          <div fxFlex="30%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column" style="padding: 5px;">
              <mat-form-field class="justifier" appearance="outline">
                <input matInput placeholder="header" formControlName="sub_header" class="form-input">
              </mat-form-field>

              <mat-form-field class="justifier" appearance="outline">
                  <textarea matInput class="form-input" placeholder="Description"
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="3"
                            formControlName="text_content"
                            cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
          </div>

        </div>
      </div>
      <div fxLayout="row wrap " class="bg-grey" fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="5px">
        <div fxFlex="100%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
          <h4 class="header-title mt-0 mb-3">Our Values Section</h4>
        </div>

        <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
          <div formArrayName="commitment">
            <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3">Commitment</h4>
            </div>

              <mat-form-field class="justifier" appearance="outline">
                 <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
              </mat-form-field>

              <mat-form-field class="justifier" appearance="outline">
                <input matInput placeholder="description" formControlName="description" class="form-input">
             </mat-form-field>
            </div>
          </div>
        </div>

        <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
            <div formArrayName="innovation">
              <div class="alignCard">
              <div>
                <h4 class="header-title mt-0 mb-3">Innovation</h4>
              </div>

                <mat-form-field class="justifier" appearance="outline">
                   <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
                </mat-form-field>

                <mat-form-field class="justifier" appearance="outline">
                  <input matInput placeholder="description" formControlName="description" class="form-input">
               </mat-form-field>
              </div>
            </div>
          </div>

          <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
              <div formArrayName="integrity">
                <div class="alignCard">
                <div>
                  <h4 class="header-title mt-0 mb-3">Integrity</h4>
                </div>

                  <mat-form-field class="justifier" appearance="outline">
                     <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
                  </mat-form-field>

                  <mat-form-field class="justifier" appearance="outline">
                    <input matInput placeholder="description" formControlName="description" class="form-input">
                 </mat-form-field>
                </div>
              </div>
            </div>

            <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
                <div formArrayName="ownership">
                  <div class="alignCard">
                  <div>
                    <h4 class="header-title mt-0 mb-3">Ownership</h4>
                  </div>

                    <mat-form-field class="justifier" appearance="outline">
                       <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
                    </mat-form-field>

                    <mat-form-field class="justifier" appearance="outline">
                      <input matInput placeholder="description" formControlName="description" class="form-input">
                   </mat-form-field>
                  </div>
                </div>
              </div>

      </div>
      <div fxLayout="row wrap " class="bg-grey" fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="5px">

          <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
            <div formArrayName="passion">
              <div class="alignCard">
              <div>
                <h4 class="header-title mt-0 mb-3">Passion</h4>
              </div>

                <mat-form-field class="justifier" appearance="outline">
                   <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
                </mat-form-field>

                <mat-form-field class="justifier" appearance="outline">
                  <input matInput placeholder="description" formControlName="description" class="form-input">
               </mat-form-field>
              </div>
            </div>
          </div>

          <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
              <div formArrayName="perserverance">
                <div class="alignCard">
                <div>
                  <h4 class="header-title mt-0 mb-3">Perserverance</h4>
                </div>

                  <mat-form-field class="justifier" appearance="outline">
                     <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
                  </mat-form-field>

                  <mat-form-field class="justifier" appearance="outline">
                    <input matInput placeholder="description" formControlName="description" class="form-input">
                 </mat-form-field>
                </div>
              </div>
            </div>

            <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
                <div formArrayName="teamwork">
                  <div class="alignCard">
                  <div>
                    <h4 class="header-title mt-0 mb-3">Teamwork</h4>
                  </div>

                    <mat-form-field class="justifier" appearance="outline">
                       <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
                    </mat-form-field>

                    <mat-form-field class="justifier" appearance="outline">
                      <input matInput placeholder="description" formControlName="description" class="form-input">
                   </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
                  <div formArrayName="transparency">
                    <div class="alignCard">
                    <div>
                      <h4 class="header-title mt-0 mb-3">Transparency</h4>
                    </div>

                      <mat-form-field class="justifier" appearance="outline">
                         <input matInput placeholder="Title 1" formControlName="title1" class="form-input">
                      </mat-form-field>

                      <mat-form-field class="justifier" appearance="outline">
                        <input matInput placeholder="description" formControlName="description" class="form-input">
                     </mat-form-field>
                    </div>
                  </div>
                </div>

        </div>
      <div fxFlex="100%" class="bg-white" fxLayoutAlign="center center" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">

        <div style="padding: 20px;">
          <button mat-raised-button color="secondary" [disabled]="!OurVauesForm.valid" (click)="serviceSubmit()">Submit</button>
        </div>
        <div style="padding: 20px;">
          <button mat-raised-button color="primary" (click)="resetForm()">Cancel</button>
        </div>

      </div>
      <div fxLayout="row wrap " class="bg-grey" fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="10px">

      </div>
    </form>
  </div>
