.card-box {
  margin: 17px;
  background: #ffffff;
}
.form-container{
 width: 100%
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.5em 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  background: #fff;
}
.form-container-bg{
  background: #f9f9f9 !important;
}
mat-form-field {
  margin-right: 12px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  display: table-caption;
  list-style-type: none;
  margin-top: 4px;
}
