<div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="50%"> <form [formGroup]="ceoForm">
       <div fxLayout="row wrap " class="card-box  card">
         <div fxFlex="100%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
           <h3>CEO Details</h3>
         </div>
         <div fxFlex="100%" class="bg-grey">
         <div fxFlex="50%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column" style="padding: 5px;">

           <mat-form-field class="justifier" appearance="outline">
             <input matInput placeholder="Header" formControlName="header" class="form-input">
           </mat-form-field>
           <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Name" formControlName="name" class="form-input">
            </mat-form-field>
           <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Sub Title" formControlName="sub_title" class="form-input">
            </mat-form-field>
            <mat-form-field class="justifier" appearance="outline">
                <textarea matInput class="form-input" placeholder="Description"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="3"
                          formControlName="text_content"
                          cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

           <span class="heading-title" id="attachment" title="">
             <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
           <div class="filesStyling">

             <div class="uploadfilecontainer" (click)="fileInput.click()" appUpload (onFileDropped)="uploadFile($event)">
               <input hidden type="file" formControlName="files" #fileInput (change)="uploadFile($event.target.files)">
             </div>

             <div class="files-list" *ngFor="let file of files;let i= index">
               <p> {{ file }} </p>
               <button class="delete-file" (click)="deleteAttachment(i)">
                 <img src="../../assets/Recycle_Bin_Full.png">
               </button>
             </div>
           </div>
          </div>
             </div>
         <div fxFlex="100%" class="bg-white" fxLayoutAlign="center center" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
              <div style="padding: 20px;">
                <button mat-raised-button color="secondary"  [disabled]="!ceoForm.valid" (click)="saveForm()">Submit</button>
              </div>
              <div style="padding: 20px;">
                <button mat-raised-button color="primary">Cancel</button>
              </div>
         </div>
       </div>
     </form>
     </div>
   </div>