<table style="width: 100%; height: 100%;">
  <tr>
       <td class="bg-white" style="width: 20%; vertical-align: top;">
           <h4 class="adminmenuhead">About Us</h4><hr class="hrline"/>
           <div class="li"><a routerLink="./why-v9" routerLinkActive="libg">Why V9 Immigration</a></div>
           <div class="li"><a routerLink="./our-mission" routerLinkActive="libg">Our Mission</a></div>
           <div class="li"><a routerLink="./our-vission" routerLinkActive="libg">Our Vission</a></div>
           <div class="li"><a routerLink="./our-values" routerLinkActive="libg">Our Values</a></div>
           <div class="li"><a routerLink="./speach" routerLinkActive="libg">Speach by CEO</a></div>
           <h4 class="adminmenuhead">Contact Us</h4><hr class="hrline"/>
           <div class="li"><a routerLink="./header" routerLinkActive="libg">Header</a></div>
           <div class="li"><a routerLink="./address" routerLinkActive="libg">Address</a></div>
       </td>
       <td>
          <router-outlet></router-outlet>
       </td>
  </tr>
</table>
