<div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row" fxLayoutGap="10px">
   <div fxFlex="100%"> <form [formGroup]="taskForm">
      <div fxLayout="row wrap " class="card-box  card">
        <div fxFlex="100%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
          <h3> New Project</h3>
        </div>
        <div class="bg-grey">
        <div fxFlex="33%" fxFlex.lt-sm="95%" fxFlex.lt-md="50%" fxLayout="column" style="padding: 5px;">

          <mat-form-field class="justifier" appearance="outline">
            <input matInput placeholder="Project Subject" formControlName="header" text="email" class="form-input">
          </mat-form-field>
          <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
          <span class="heading-title" id="attachment" title="">
            <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
          <div class="filesStyling">

            <div class="uploadfilecontainer" (click)="fileInput.click()" appUpload (onFileDropped)="uploadFile($event)">
              <input hidden type="file" formControlName="files" #fileInput (change)="uploadFile($event.target.files)">
            </div>

            <div class="files-list" *ngFor="let file of files;let i= index">
              <p> {{ file }} </p>
              <button class="delete-file" (click)="deleteAttachment(i)">
                <img src="../../assets/Recycle_Bin_Full.png">
              </button>
            </div>
          </div>



        </div>
        <div fxFlex="33%" fxFlex.lt-sm="50" fxFlex.lt-md="33" fxLayout="column" style="padding: 5px;">

          <div class="form-wraper">
            <div class="form-container form-container-bg ">

              <div class="form-body">
                <h3>Enter the details for Sections</h3>
                <mat-form-field class="justifier" appearance="outline">
                    <input matInput placeholder="Project Name" formControlName="header" text="email" class="form-input">
                  </mat-form-field>
                <div class="formSelect">
                  <div class="custom-select">
                    <select>
                      <option value="0">Organization:</option>
                      <option value="1">Audi</option>
                      <option value="2">BMW</option>
                      <option value="3">Citroen</option>
                      <option value="4">Ford</option>
                      <option value="5">Honda</option>
                      <option value="6">Jaguar</option>
                      <option value="7">Land Rover</option>
                      <option value="8">Mercedes</option>
                      <option value="9">Mini</option>
                      <option value="10">Nissan</option>
                      <option value="11">Toyota</option>
                      <option value="12">Volvo</option>
                    </select>
                  </div>
                </div>
                <div class="formSelect">
                  <div class="custom-select">
                    <select>
                      <option value="0">Customer Name:</option>
                      <option value="1">Audi</option>
                      <option value="2">BMW</option>
                      <option value="3">Citroen</option>
                      <option value="4">Ford</option>
                      <option value="5">Honda</option>
                      <option value="6">Jaguar</option>
                      <option value="7">Land Rover</option>
                      <option value="8">Mercedes</option>
                      <option value="9">Mini</option>
                      <option value="10">Nissan</option>
                      <option value="11">Toyota</option>
                      <option value="12">Volvo</option>
                    </select>
                  </div>
                </div>
                <div class="formSelect">
                  <div class="custom-select">
                    <select>
                      <option value="0">Organization Address:</option>
                      <option value="1">Audi</option>
                      <option value="2">BMW</option>
                      <option value="3">Citroen</option>
                      <option value="4">Ford</option>
                      <option value="5">Honda</option>
                      <option value="6">Jaguar</option>
                      <option value="7">Land Rover</option>
                      <option value="8">Mercedes</option>
                      <option value="9">Mini</option>
                      <option value="10">Nissan</option>
                      <option value="11">Toyota</option>
                      <option value="12">Volvo</option>
                    </select>
                  </div>
                </div>
                <div class="formSelect">
                  <div class="custom-select">
                    <select>
                      <option value="0">Customer Country:</option>
                      <option value="1">Audi</option>
                      <option value="2">BMW</option>
                      <option value="3">Citroen</option>
                      <option value="4">Ford</option>
                      <option value="5">Honda</option>
                      <option value="6">Jaguar</option>
                      <option value="7">Land Rover</option>
                      <option value="8">Mercedes</option>
                      <option value="9">Mini</option>
                      <option value="10">Nissan</option>
                      <option value="11">Toyota</option>
                      <option value="12">Volvo</option>
                    </select>
                  </div>
                </div>
                <div class="formSelect">
                  <div class="custom-select">
                    <select>
                      <option value="0">Customer State:</option>
                      <option value="1">Audi</option>
                      <option value="2">BMW</option>
                      <option value="3">Citroen</option>
                      <option value="4">Ford</option>
                      <option value="5">Honda</option>
                      <option value="6">Jaguar</option>
                      <option value="7">Land Rover</option>
                      <option value="8">Mercedes</option>
                      <option value="9">Mini</option>
                      <option value="10">Nissan</option>
                      <option value="11">Toyota</option>
                      <option value="12">Volvo</option>
                    </select>
                  </div>
                </div>
                <mat-form-field class="justifier" appearance="outline">
                  <input matInput [matDatepicker]="picker1" [formControl]="date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="justifier" appearance="outline">
                  <input matInput [matDatepicker]="picker2" [formControl]="serializedDate">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>

        </div>
        <div fxFlex="33%" fxFlex.lt-sm="50" fxFlex.lt-md="33" fxLayout="column" style="padding: 5px;">

            <div class="form-wraper">
              <div class="form-container form-container-bg ">

                <div class="form-body">
                  <h3>Enter the details for Sections</h3>
                  <div class="formSelect">
                    <div class="custom-select">
                      <select>
                        <option value="0">Customer City:</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                      </select>
                    </div>
                  </div>
                  <div class="formSelect">
                    <div class="custom-select">
                      <select>
                        <option value="0">Product type:</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                      </select>
                    </div>
                  </div>
                  <div class="formSelect">
                    <div class="custom-select">
                      <select>
                        <option value="0">Author:</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                      </select>
                    </div>
                  </div>
                  <div class="formSelect">
                    <div class="custom-select">
                      <select>
                        <option value="0">Budjet:</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                      </select>
                    </div>
                  </div>
                  <mat-form-field class="justifier" appearance="outline">
                      <input matInput placeholder="Project Cost" formControlName="header" text="email" class="form-input">
                    </mat-form-field>
                  <div class="formSelect">
                    <div class="custom-select">
                      <select>
                        <option value="0">Status:</option>
                        <option value="1">Audi</option>
                        <option value="2">BMW</option>
                        <option value="3">Citroen</option>
                        <option value="4">Ford</option>
                        <option value="5">Honda</option>
                        <option value="6">Jaguar</option>
                        <option value="7">Land Rover</option>
                        <option value="8">Mercedes</option>
                        <option value="9">Mini</option>
                        <option value="10">Nissan</option>
                        <option value="11">Toyota</option>
                        <option value="12">Volvo</option>
                      </select>
                    </div>
                  </div>


                </div>
              </div>
            </div>

          </div>
        </div>
        <div fxFlex="100%" class="bg-white" fxLayoutAlign="center center" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
          <div style="padding: 20px;">
            <button mat-raised-button color="primary">Cancel</button>

          </div>
          <div style="padding: 20px;">
            <button mat-raised-button color="secondary">Submit</button>

          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
