<!--<table style="width: 100%; height: 100%;">
  <tr>
       <td class="bg-white" style="width: 20%; vertical-align: top;">
           <h4 class="adminmenuhead">Home Component</h4><hr class="hrline"/>
           <div class="li"><a routerLink="./home-top-slider" routerLinkActive="libg">Top Slider</a></div>
           <div class="li"><a routerLink="./home-our-goals" routerLinkActive="libg">Our Goals</a></div>
           <div class="li"><a routerLink="./home-about-v9" routerLinkActive="libg">About V9 Immigration</a></div>
           <div class="li"><a routerLink="./home-why-us" routerLinkActive="libg">Why Choose Us</a></div>
           <div class="li"><a routerLink="./home-service" routerLinkActive="libg">Immigration Service for You</a></div>
           <div class="li"><a routerLink="./home-three-steps" routerLinkActive="libg">Three Simple Steps</a></div>
           <div class="li"><a routerLink="./home-three-steps" routerLinkActive="libg">Three Simple Steps</a></div>
           <div class="li"><a routerLink="./home-user-feedback" routerLinkActive="libg">User Feedback</a></div>
           <div class="li"><a routerLink="./home-bottom-slider" routerLinkActive="libg">Bottom Slider</a></div>
       </td>
       <td>
          <router-outlet></router-outlet>
       </td>
  </tr>
</table>-->
<router-outlet></router-outlet>
