<div fxLayout="column" fxLayoutGap="20px" class="card-box  card">
  <form [formGroup]="feedbackForm">
    <div fxLayout="row wrap " fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="10px">


      <div fxFlex.lt-sm="100%" fxFlex.lt-md="33%" style="padding: 5px;">
        <h3>
          <span class="heading-title" id="attachment" title="">
            <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color: blue"></i> &nbsp;&nbsp;User Feedback</span>
        </h3>

      </div>
    </div>
    <div fxLayout="row wrap " class="bg-grey" fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="5px">
      <div fxFlex.lt-sm="100%" fxFlex.lt-md="33%" style="padding: 5px;">
        <h4>&nbsp;</h4>
      </div>
      <div class="card-box  card" fxFlex.lt-sm="100%" fxFlex.lt-md="33%" fxLayout="column">
          <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3 spacing">&nbsp;</h4>
            </div>
            <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Name" formControlName="name"  class="form-input">
            </mat-form-field>

            <mat-form-field class="justifier" appearance="outline">

              <textarea matInput class="form-input" placeholder="Feedback" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                formControlName="para" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
            <div class="filesStyling">

              <div class="uploadfilecontainer" (click)="fileInput.click()" appUpload (onFileDropped)="uploadFile($event)">
                <input hidden type="file" accept="image/*" formControlName="icon" #fileInput (change)="uploadFile($event.target.files)">
              </div>

              <div class="files-list" *ngIf="files[0]">
                <p> {{ files[0] }} </p>
                <button class="delete-file" (click)="deleteAttachment()">
                  <img src="../../assets/Recycle_Bin_Full.png">
                </button>
              </div>
            </div>
            <div style="padding: 20px; text-align: right;">
              <button mat-raised-button color="secondary" [disabled]="!feedbackForm.valid" (click)="serviceSubmit()">Submit</button> &nbsp;&nbsp;
              <button mat-raised-button color="primary" (click)="resetForm()">Cancel</button>
            </div>       
          </div>
      </div>

    </div>

  </form>
</div>
