<div fxLayout="column" fxLayoutGap="20px" class="card-box  card">
  <form [formGroup]="serviceForm">
    <div fxLayout="row wrap " fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="10px">

      <div fxFlex="100%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
        <h3>
          <span class="heading-title" id="attachment" title="">
              <i class="fa fa-th-list" aria-hidden="true" style="color: blue"></i> &nbsp;&nbsp;Immigration Services for you</span>
        </h3>

      </div>
      <div fxFlex="100%" class="bg-grey">
        <div fxFlex="30%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column" style="padding: 5px;">
          <mat-label>Header</mat-label>
          <mat-form-field class="justifier" appearance="outline">
            <input matInput placeholder="Title" formControlName="header" type="text" class="form-input">
          </mat-form-field>
          <mat-label>Description</mat-label>
          <mat-form-field class="justifier" appearance="outline">
            <textarea matInput class="form-input" formControlName="description" placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap " class="bg-grey" fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="5px">
      <div fxFlex="100%" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
        <h4 class="header-title mt-0 mb-3">Services Section</h4>
      </div>
      <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
        <div formArrayName="family">
          <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3 spacing">Family Sponsorship</h4>
            </div>
            <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Header" formControlName="title"  class="form-input">
            </mat-form-field>
            <mat-form-field class="justifier" appearance="outline">
              <textarea matInput class="form-input" placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                formControlName="para" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
            <div class="filesStyling">

              <div class="uploadfilecontainer" (click)="fileInput.click()" appUpload (onFileDropped)="uploadFile($event, '0')">
                <input hidden type="file" formControlName="img" #fileInput (change)="uploadFile($event.target.files, '0')">
              </div>

              <div class="files-list" *ngIf="files[0]">
                <p> {{ files[0] }} </p>
                <button class="delete-file" (click)="deleteAttachment('0','family')">
                  <img src="../../assets/Recycle_Bin_Full.png">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
        <div formArrayName="work">
          <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3 spacing">Work Visa</h4>
            </div>
            <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Header" formControlName="title"  class="form-input">
            </mat-form-field>
            <mat-form-field class="justifier" appearance="outline">
              <textarea matInput class="form-input" placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                formControlName="para" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
            <div class="filesStyling">

              <div class="uploadfilecontainer" (click)="fileInput1.click()" appUpload (onFileDropped)="uploadFile($event, '1')">
                <input hidden type="file" formControlName="img" #fileInput1 (change)="uploadFile($event.target.files, '1')">
              </div>

              <div class="files-list" *ngIf="files[1]">
                <p> {{ files[1] }} </p>
                <button class="delete-file" (click)="deleteAttachment('1','work')">
                  <img src="../../assets/Recycle_Bin_Full.png">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
        <div formArrayName="study">
          <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3 spacing">Study Visa</h4>
            </div>
            <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Header" formControlName="title"  class="form-input">
            </mat-form-field>
            <mat-form-field class="justifier" appearance="outline">
              <textarea matInput class="form-input" placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                formControlName="para" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
            <div class="filesStyling">

              <div class="uploadfilecontainer" (click)="fileInput2.click()" appUpload (onFileDropped)="uploadFile($event, '2')">
                <input hidden type="file" formControlName="img" #fileInput2 (change)="uploadFile($event.target.files, '2')">
              </div>

              <div class="files-list" *ngIf="files[2]">
                <p> {{ files[2] }} </p>
                <button class="delete-file" (click)="deleteAttachment('2','study')">
                  <img src="../../assets/Recycle_Bin_Full.png">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div fxLayout="row wrap " class="bg-grey" fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="5px">
      <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
        <div formArrayName="visit">
          <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3 spacing">Visit Visa</h4>
            </div>
            <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Header" formControlName="title"  class="form-input">
            </mat-form-field>
            <mat-form-field class="justifier" appearance="outline">
              <textarea matInput class="form-input" placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                formControlName="para" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
            <div class="filesStyling">

              <div class="uploadfilecontainer" (click)="fileInput3.click()" appUpload (onFileDropped)="uploadFile($event, '3')">
                <input hidden type="file" formControlName="img" #fileInput3 (change)="uploadFile($event.target.files, '3')">
              </div>

              <div class="files-list" *ngIf="files[3]">
                <p> {{ files[3] }} </p>
                <button class="delete-file" (click)="deleteAttachment('3','visit')">
                  <img src="../../assets/Recycle_Bin_Full.png">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
        <div formArrayName="citizenship">
          <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3 spacing">Citizenship Visa</h4>
            </div>
            <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Header" formControlName="title"  class="form-input">
            </mat-form-field>
            <mat-form-field class="justifier" appearance="outline">
              <textarea matInput class="form-input" placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                formControlName="para" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
            <div class="filesStyling">

              <div class="uploadfilecontainer" (click)="fileInput4.click()" appUpload (onFileDropped)="uploadFile($event, '4')">
                <input hidden type="file" formControlName="img" #fileInput4 (change)="uploadFile($event.target.files, '4')">
              </div>

              <div class="files-list" *ngIf="files[4]">
                <p> {{ files[4] }} </p>
                <button class="delete-file" (click)="deleteAttachment('4','citizenship')">
                  <img src="../../assets/Recycle_Bin_Full.png">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box  card" fxFlex fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout="column">
        <div formArrayName="other">
          <div class="alignCard">
            <div>
              <h4 class="header-title mt-0 mb-3 spacing">Other Visa</h4>
            </div>
            <mat-form-field class="justifier" appearance="outline">
              <input matInput placeholder="Header" formControlName="title"  class="form-input">
            </mat-form-field>
            <mat-form-field class="justifier" appearance="outline">
              <textarea matInput class="form-input" placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                formControlName="para" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <span class="heading-title" id="attachment" title="">
              <i class="fa fa-paperclip" style="font-size:18px;padding:0 10px;" aria-hidden="true"></i>Attachments</span>
            <div class="filesStyling">

              <div class="uploadfilecontainer" (click)="fileInput5.click()" appUpload (onFileDropped)="uploadFile($event, '5')">
                <input hidden type="file" formControlName="img" #fileInput5 (change)="uploadFile($event.target.files, '5')">
              </div>

              <div class="files-list" *ngIf="files[5]">
                <p> {{ files[5] }} </p>
                <button class="delete-file" (click)="deleteAttachment('5','other')">
                  <img src="../../assets/Recycle_Bin_Full.png">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div fxFlex="100%" class="bg-white" fxLayoutAlign="center" fxFlex.lt-sm="100%" fxFlex.lt-md="100%" style="padding: 5px;">
      
      <div style="padding: 20px;">
        <button mat-raised-button color="secondary" [disabled]="!serviceForm.valid" (click)="serviceSubmit()">Submit</button>
      </div>
      <div style="padding: 20px;">
        <button mat-raised-button color="primary" (click)="resetForm()">Cancel</button>
      </div>

    </div>
    <div fxLayout="row wrap " class="bg-grey" fxLayoutGap.lt-md="0px" fxLayoutAlign="start start" fxLayoutGap="10px">

    </div>
  </form>
</div>
